<section class="top_ten__category">
  <h2 class="top_ten__category_title">
    Top <%= action_title %>
  </h2>

  <div class="top_ten__works_container">
    <% top_works = Work.find_top_ten(action_category) %>
    <% top_works.each do |top_work| %>
      <div class="top_ten__work">
        <h3 class="top_ten__work_intro">
          <span class="top_ten__work_name"><%= link_to top_work.title, work_path(top_work.id) %></span>
          <span class="top_ten__work_creator">by <%= top_work.creator %></span>
        </h3>
        <% count = top_work.votes.count %>
        <div class="top_ten__work_votes"><%= count %> <%= Vote.say_vote_s(count) %></div>
      </div>
    <% end %>
  </div>
</section>