<section class="spotlight">
  <% spotlight = Work.find_highest_voted() %>
  <h2>
    Media Spotlight:
    <span><%= spotlight.name %></span>
    <span>by <%= spotlight.creator %></span>
  </h2>

  <p>
    <span><%= spotlight.votes.count %> votes</span>
    <span> - </span>
    <span><%= spotlight.description %></span>
  </p>
</section>

<article class="top-ten">
  <section>
    <h2>
      Top Movies
    </h2>

    <% top_movies = Work.find_top_ten("movie") %>
    <% top_movies.each do |top_movie| %>
      <p>
        <span><%= link_to top_movie.name, work_path(top_movie.id) %></span>
        <span>by <%= top_movie.creator %></span>
        <div class="num_votes"><%= top_movie.votes.count %> votes</div>
      </p>
    <% end %>
  </section>

  <section>
    <h2>
      Top Books
    </h2>

    <% top_books = Work.find_top_ten("book") %>
    <% top_books.each do |top_book| %>
      <p>
        <span><%= link_to top_book.name, work_path(top_book.id) %></span>
        <span>by <%= top_book.creator %></span>
        <div class="num_votes"><%= top_book.votes.count %> votes</div>
      </p>
    <% end %>
  </section>

  <section>
    <h2>
      Top Albums
    </h2>

    <% top_albums = Work.find_top_ten("album") %>
    <% top_albums.each do |top_album| %>
      <p>
        <span><%= link_to top_album.name, work_path(top_album.id) %></span>
        <span>by <%= top_album.creator %></span>
        <div class="num_votes"><%= top_album.votes.count %> votes</div>
      </p>
    <% end %>
  </section>
</article>