<table class="table">
  <thead>
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Published</th>
      <th scope="col">Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% all_of_type = @works.where(category: category) %>
    <% all_of_type.each do |work| %>
      <tr>
        <td><%= work.votes.count %></td>
        <td><%= link_to work.name, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <% if work.published_date %>
          <td><%= work.published_date.strftime("%G") %></td>
        <% else %>
          <td>[unknown]</td>
        <% end %>
        <td><button type="button" class="btn"><%= link_to "Upvote", work_upvote_path(work.id), method: :post %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
