<main>
  <section class="obj_show">
    <h2 class="header primary_header">User Summary: <%= @user.username %></h2>
    
    <p>Joined site <%= @user.date_joined.strftime("%b %d, %G") %></p>

    <section class="obj_show__table_container">
      <h3 class="header">Votes</h3>
      <table class="table obj_table">
        <thead>
          <tr>
            <th scope="col">Media Title</th>
            <th scope="col">Created By</th>
            <th scope="col">Published</th>
            <th scope="col">Category</th>
            <th scope="col" width="150">Voted On</th>
          </tr>
        </thead>
        <tbody>
          <% all_votes = @user.votes %>
          <% if all_votes %>
            <% all_votes.each do |vote| %>
              <tr>
                <td><%= link_to vote.work.title, work_path(vote.work.id) %></td>
                <td><%= vote.work.creator %></td>
                <td><%= vote.work.publication_date.strftime("%G") %></td>
                <% category = vote.work.category.capitalize %>
                <td><%= link_to category, works_path + "##{category}" %></td>
                <td><%= vote.date.strftime("%b %d, %G") %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </section>

    <div class="buttons_container">
      <div class="nav_buttons">
        <button type="button" class="btn btn-secondary"><%= link_to "See all users", users_path %></button>
        <button type="button" class="btn btn-primary"><%= link_to "Back to media list", works_path %></button>
      </div>
      <div class="account_management">
        <% if session[:user_id] && @user.id == session[:user_id] %>
          <button type="button" class="btn btn-danger"><%= link_to "Delete Account", delete_user_path(@user.id) %></button>
        <% end %>
      </div>
    </div>
  </section>
</main>