<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Media Ranker</h1>
      <p>Ranking the Best of Everything</p>

      <nav>
        <button type="button" class="btn"><%= link_to "View Top Media", root_path %></button>
        <button type="button" class="btn"><%= link_to "View All Media", works_path %></button>
        <button type="button" class="btn"><%= link_to "Add A New Work", new_work_path %></button>
        <button type="button" class="btn">View All Users</button>

        <% current_user = User.find_by(id: session[:user_id]) %>
        <% if current_user %>
          <button type="button" class="btn">Logged in as <%= link_to current_user.username, current_user_path %></button>
          <button type="button" class="btn"><%= link_to "Log Out", logout_path, method: :post%></button>
        <% else %>
          <button type="button" class="btn"><%= link_to "Log In", login_path %></button>
        <% end %>
      </nav>
    </header>
    
    <main>
      <section class="flash">
        <% flash.each do |name, message| %>
          <% if name == "error" %>
            <div>A problem occurred: <%= message %></div>
          <% elsif name == "success" %>
            <div><%= message %></div>
          <% else %>
            <div><%= name %> : <%= message %></div>
          <% end %>
        <% end %>
      </section>

      <%= yield %>
    </main>
  </body>
</html>
